<%- include('_layout/header.ejs') %> <%- include('_layout/nav.ejs') %>
<% function formatNumber(num) {
  if (num == null) {
    return "0"; 
   } 
   return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"); } 
   %>
<div class="row mb-2">
  <div class="col-sm-6"></div>
  <!-- /.col -->
</div>
<!-- /.row -->

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">NHÓM ĐƠN HÀNG</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="table-responsive">
          <table id="datatable1" class="table table-bordered table-striped">
            <thead>
              <tr class="text-center">
                <th style="width: 5px">STT</th>
                <th>MÃ ĐƠN HÀNG</th>
                <th>EMAIL</th>
                <th>TÌNH TRẠNG</th>
                <th>TỔNG TIỀN</th>
                <th>THAO TÁC</th>
                <th>CHI TIẾT</th>
                <th>NGÀY ĐẶT</th>
                <th>THAO TÁC</th>
              </tr>
            </thead>
            <tbody>
              <% orders.forEach((order,index) => { %>
                <tr class="text-center">
                  <td><%= index + 1 %></td>
               <td><%= order.codeOrder %></td>
                  <td><%= order.emailOrder %></td>
                  <td style = "font-weight:bold;<% if (order.status === 'Processed') { %>color: red; <% } else if (order.status === 'Delivering') { %>color: #d51ac0;<% } else { %>color: #66CC33;<% } %>"><%= order.status %></td>

                  <td><%= formatNumber(order.totalPrice) %></td>
                  <td>
                    <% if(order.status == 'Processed') { %>
                      <button class="btn btn-warning text-light">Đợi Phản hồi</button>
                    <% } else if(order.status == 'Delivering') {  %>
                      <button class='btn btn-info' disabled">Đang giao hàng</button>
                    <% } else if(order.status == 'Complete') {  %>
                      <button class='btn btn-success' disabled">Khách hàng đã nhận</button>
                    <% } else { %>
                      <button class='btn btn-danger' disabled">Đơn hàng đã hủy</button>
                    <% } %>
                  </td>
                  <td><a href="/admin/detailOrder/<%= order.codeOrder %>" class="btn btn-info text-light">Chi Tiết</a></td>
                  <td><%= new Date(order.orderDate).toLocaleString() %></td>
                  <td>
                    <button class="btn btn-info text-light"  data-toggle="modal" data-target="#modal<%= order._id.toString() %>">Cập nhật</button>
                    <button class="btn btn-info text-light"  data-id="<%=order._id %>"  data-toggle="modal" data-target="#exampleModal">Xóa</button>

                    <div class="modal fade" id="modal<%= order._id %>">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Cập nhật trạng thái đơn hàng</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                              <form action="/admin/updateOrder/<%= order._id %>" method="POST">
                                  <div class="mb-3">
                                      <label for="edittitle" class="form-label">Trạng thái</label>
                                      <select class="custom-select" name="status">
                                        <option <%= order.status === 'Processed' ? 'selected' : '' %> value="Processed">Đợi phản hồi</option>
                                        <option <%= order.status === 'Delivering' ? 'selected' : '' %> value="Delivering">Đang giao hàng</option>
                                        <option <%= order.status === 'Complete' ? 'selected' : '' %> value="Complete">Khách hàng đã nhận</option>
                                        <option <%= order.status === 'Cancelled' ? 'selected' : '' %> value="Cancelled">Hủy</option>
                                      </select>
                                      
                                  </div>
                                  <button type="submit" class="btn btn-primary">Update</button>
                              </form>
                          </div>
                        
                        </div>
                      </div>
                      <!-- /.modal-dialog -->
                    </div>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
      <!-- /.card-body -->
      <div class="card-footer clearfix">VUI LÒNG THAO TÁC CẨN THẬN</div>
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
</div>
 <!-- Confirm delete -->
<div class="modal" id="exampleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Bạn muốn xóa ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa đơn hàng này không ?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>
 <!-- Delete hidden form  -->
<form method="POST" name="delete-course-form" ></form>
<script>
  $(function () {
    $("#datatable1").DataTable();
  });
</script>

<script>
  let OrderId
  var deleteForm = document.forms['delete-course-form']
   var btnDeleteCourse = document.getElementById('btn-delete-course');

   $('#exampleModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      OrderId = button.data('id') // Extract info from data-* attributes
      
  })

  btnDeleteCourse.onclick = function() {
    deleteForm.action = `/admin/deleteOrder/${OrderId}`;
    deleteForm.submit();
  }
</script>
<%- include('_layout/footer.ejs') %>
